/**/*.DS_Store
*.DS_Store
.DS_Store
frame*.PNG
masks*.PNG
mask*.PNG
.vscode/
.ipynb_checkpoints/
*.pyc
pdfs/
*.pickle
scan*.PNG
scan*.png
__pycache__
**/avg*.PNG
**/scan*.pickle
*.pickle
*.dcm
/pickles
/op.DSYM
pig_eyeball/**/maks*.PNG
rgb*.PNG
*.tif
*.hdf5
*.h5
*.png
*.PNG
*.pptx
*.gif
*.avi
*.docx
*.jpg
*.JPG
*.zip